<%= form_for(@packageinfo) do |f| %>
  <% if @packageinfo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@packageinfo.errors.count, "error") %> prohibited this packageinfo from being saved:</h2>

      <ul>
      <% @packageinfo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name %><br />
    <%= f.text_field :name ,:size=>55 %>
  </div>
  <div>
    <%= f.label :details %><br />
    <%= f.text_area :details, :size=>55 %>
  </div>
  <div>
    <%= f.label :price %><br />
    <%= f.text_field :price ,:size => 55%>
  </div>
  <div>
    <%= f.label :contract %><br />
    <%= f.text_field :contract , :size=> 55%>
  </div>

    <div>
    <%= f.label :category_id %><br />
    <%= f.collection_select(:category_id ,Category.all, :id ,:name ,{:prompt => true })%>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
